:root {
    --banner-margin: 60px;
    --main-color: rgb(17, 119, 42);
    --c-active: #275EFE;
    --c-active-inner: #FFFFFF;
    --c-default: #D2D6E9;
    --c-default-dark: #C7CBDF;
    --c-black: #1B1B22;
}

body {
    margin-top: 290px;
    background: rgb(22, 22, 22);
    color: rgb(206, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
}
div.banner {
    background: linear-gradient(to bottom right, rgb(22, 22, 22), black, var(--main-color),var(--main-color), black, rgb(22, 22, 22) );
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--banner-margin)*2 );
    border-radius: 5px;
    color: white;
    margin-left: var(--banner-margin);
    margin-right: var(--banner-margin);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
div.underbanner {
    right: 10px;
    left: 10px;
    align-items: center;
    position: fixed;
    top: 150px;
}
div.choices {
    float: left;
    text-align: center;
    width: 32%;
    left: 5px;
    background: rgb(95, 128, 95);
    padding-top: 10px;
    padding-left: 10px;
    height: 80px;
    box-shadow: 5px 5px 0px var(--main-color);
    border-radius: 5px;
}
div.btn-banner {
    right: 0;
    float: right;
    width: 64%;
    padding-top: 10px;
    text-align: center;
    background: rgb(95, 128, 95);
    height: 80px;
    box-shadow: 5px 5px 0px var(--main-color);
    border-radius: 5px;
}
button {
    text-transform: uppercase;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(var(--main-color), var(--main-color), rgb(22, 22, 22));
    border-radius: 8px;
    width: 150px;
    height: 35px;
    color: white;
    font-size: 25px;
    transition: 200ms;
    margin-right: 40px;
}
button:hover {
    transform: translateX(+10px);
    width: 170px;
    margin-right: 20px;
}
button:active {
    background-image: linear-gradient(var(--main-color), rgb(22, 22, 22), var(--main-color));
}
select {
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    height: 35px;
    background-color: rgb(22, 22, 22);
    color: var(--main-color);
}
select:focus {
    outline: none;
    border-color: #cc0000;
    content: "";
}
  
select:hover {
    background-color: #044b16;
    background-color: rgb(22, 22, 22);
  }
  
select:disabled {
    opacity: 0.5;
  }
select.large {
    width: 45%;
    height: 70%;
}
