<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>DeltacodeProject</title>
</head>
<body>
    <div class="banner">
        <h3>Bienvenue sur la page du</h3>
        <h1>DeltacodeProject</h1>
    </div>
    <div class="underbanner">
        <div class="choices">
            <select name="ENCODE / DECODE" id="encode/decode" class="large">
                <option value="encode">Encode</option>
                <option value="decode">Decode</option>
            </select>
            <select name="Encoding" id="encoding" class="large">
                <optgroup><option value="DayEncoding">DayEncoding</option></optgroup>
            </select>
        </div>
        <div class="btn-banner">
            <button id="done">here</button>
            <button id="done">here</button>
            <button id="done">here</button>
        </div>
    </div>
    <div>
        <label>Mot de passe</label> <input type="text" name="password" id="password" value="mdp">
        <label>Shift</label> <input type="text" name="shift" id="shift" value="5000">
        <label>Texte</label> <input type="text" name="Text" id="text" value="Ceci est un exemple">
    </div>
    
    <p id="result">result</p>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>